/* * *
*   Web development: Homework 1
*   Authors: Toomas Tamm, Hans Kristjan Urm, Jürgen Leppsalu
 * * */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d5eaf3;
    align-items: center;
}

table {
    margin-top: 25px;
    border-collapse: collapse;
    width: 100%;

}

tr td {
    border-top: 1px solid black;
    border-bottom: 1px solid #999;
    padding: 10px;
}
h1 > span {
	color:Black;
}
div ~ p {
	color:black;
}

/* Page header styling */

#header-container {

    padding: 2%;
    max-height: 200px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    letter-spacing: 3px;
    text-align: center;
    
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

/* Profile information styling */

.personal-info-container {
    padding-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.personal-info-container img, .personal-info-container ol {
    padding: 10px;
}

.personal-info-container img {
    background-color: white;
}

.personal-info-container ol{ 
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;

    background-color: white; 
}

.image-card {
    display: inline-block;
    height: 310px;
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.image-card img {
    height: 290px;
}

.personal-info-card {
    display: inline-block;
    height: 310px;
    line-height: 90px;
    margin-left: 15px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    order: 0;
    flex: 0 0 auto;
    align-self: stretch;
}

.courses-container {
    background-color: white;
    max-width: 60%;
    min-width: 310px;
    margin: 20px auto 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.some-number {
    display: flex;
    line-height: 310px;
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 30px;
    order: 0;
    flex: 0 0 auto;
    align-self: stretch;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 35px;
}

@media screen and (max-width: 480px) {

    .image-card {
        width: 310px;
    }

    .personal-info-card {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        width: 310px;
    }

    .some-number {
        margin-top: 110px;
        margin-left: 0;
        margin-right: 0;
        border: 0;
        padding: 0;
        width: 310px;
    }
}

@media screen and (max-height: 999px) {
    footer {
        position: static;
        margin-top: 20px;
        bottom: 0;
        height: 2.5rem;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
    }
}

@media screen and (min-height: 1000px) {
    footer {
        position: absolute;
        bottom: 0;
        height: 2.5rem;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
    }
}
